<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <h1 style="color: aliceblue;">This is my test aplication</h1>
    </div>
</nav>
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Hello Shaw and Partners!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Hi this is Cauã from Brazil, and this is my test aplication, for this project i used Laravel and Angular. I hope you like it.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" routerLink="users-page" class="btn btn-primary btn-lg px-4 gap-3">Display Users</button>
      </div>
    </div>
</div>